<footer class="footer">
  <div class="container">
    <span class="text-muted">
      <a href="../">Home</a> &#8226;
      <a href="../privacy-policy">Policy Policy</a>
    </span>
  </div>
</footer>
</body>
</html>
